<%= form_with model: @todo, local: true do |f| %>
  <div class="form-group">
    <%= f.label :description, 'Descripción:' %>
    <%= f.text_area :description, class: 'form-control' %>

    <%= f.label :completed, 'Completado:' %>
    <%= f.check_box :completed, class: 'checkbox' %>
  </div>

  <%= f.submit 'Enviar', class: 'btn btn-info' %>
<% end %>