
<div class="row">
  <div class="col-12 my-3 table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Tarea</th>
          <th scope="col">Estado</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @todos.each do |todo| %>
        <tr>
          <td><%= todo.description %></td>
          <% if todo.completed %>
            <td>Completado :)</td>
          <% else %>
            <td>Incompleto :(</td>
          <% end %>
          <td>
          <div class="d-flex justify-content-start">
            <%= link_to 'Mostrar', todo_path(todo.id), class: 'btn btn-info btn-sm mx-1' %>
            <%= link_to 'Editar', todo_edit_path(todo.id), class: 'btn btn-warning btn-sm mx-1' %>
            <%= link_to 'Eliminar', todo_path(todo.id), method: :delete, class: 'btn btn-danger btn-sm mx-1' %>
            <% if !todo.completed %>
              <%= link_to 'Completar', todo_complete_path(todo.id), class: 'btn btn-success btn-sm mx-1' %>
            <% end %>
          </div>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Nuevo', todos_new_path, class: 'btn btn-outline-primary' %>
