<h3 class="text-info">Listado:</h3>
<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-danger"><h4>No completados:</h4></li>
      <% @not_completed.each do |todo| %>
        <li class="list-group-item"><%= todo.description %></li>
      <% end %>
    </ul>  
  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success"><h4>Completados:</h4></li>
      <% @completed.each do |todo| %>
        <li class="list-group-item"><%= todo.description %></li>
      <% end %>
    </ul>  
  </div>
</div>
