<div class="row d-flex justify-content-center">
  <div class="col-md-7">
    <h5> Description: <%= @todo.description %></h5>
    <h5> Completado: <b><%= @todo.completed %></b> </h5>
    <p> Creado hace: <%= time_ago_in_words @todo.created_at %> </p>
    <%= link_to "Volver", todos_path, class: 'btn btn-primary' %>
  </div>
</div>