<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="btn btn-outline-info mx-1 my-1" href="<%= root_path %>">Home</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-info mx-1 my-1" href="<%= todo_list_path %>">List</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-success mx-1 my-1" href="<%= todos_new_path %>">Nuevo Registro</a>
      </li>
    </ul>
  </div>
</nav>